/* Header menu bar */

nav {
	border-bottom: 1px solid black;
	background-color: white
}

.crumbs ol {
	padding-left: 0;
}

.crumb {
	display: inline-block;
}

.crumb a::after {
	color: #000;
	content: '   ';
	font-size: 100%;
	font-weight: bold;
	padding: 5px 30px;
}
.headers:hover{
	color: orange;
}

.headers {
	color: black;
	font-size: 190%;
	text-decoration: none;
}

/* On screens less than 900px, make nav linksbe on top of each other*/
@media screen and (max-width: 900px) {
	.crumb{
		display: block;
		padding: 5px 30px;
		
	}
}


/*Text and image body*/
body{
	padding: 0;
	margin: 0;
	background-color: white;
}

/* Image slider */

.slider-frame { /*this is the negative space box you slide images behind */
    overflow: hidden;
    height: 400px;  /* Adjusted height */
    width: 600px;   /* Adjusted width */
    /* margin-left: 60px;
    margin-top: 20px;
	/margin-right: 25px;  this adjusts distance of text on PC
	margin-bottom: 25px;
    float: left; */
}

/*SLIDE ANIMATION https://tutorials-warehouse.blogspot.com/2023/01/blog-post.html */

@keyframes slide_animation {
	0% { left: 0px; }
	10% { left: 0px; }
	15% { left: 600px; } 
	30% { left: 600px; }
	35% { left: 1200px; }
	50% { left: 1200px; }
	55% { left: 600px; }
	70% { left: 600px; }
	75% { left: 0px; }
	90% { left: 0px; }
	100% { left: 0px; }
}

@-webkit-keyframes slide_animation {
    0% { left: 0px; }
    10% { left: 0px; }
    20% { left: 600px; }    /* Adjusted width */
    30% { left: 600px; }
    40% { left: 1200px; }   /* Adjusted width */
    50% { left: 1200px; }
    60% { left: 600px; }
    70% { left: 600px; }
    80% { left: 0px; }
    90% { left: 0px; }
    100% { left: 0px; }
}

.slide-images {
    width: 1800px;           /* Adjusted width for three slides */
    height: 400px;           /* Adjusted height */
    margin: 0 0 0 -1200px;   /* Adjusted margin */
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 45s;
    animation-duration: 45s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
	animation-timing-function: ease-in-out;
}

.img-container {
    height: 400px;  /* Adjusted height */
    width: 600px;   /* Adjusted width */
    position: relative;
    float: left;
}

@media screen and (max-width: 900px) {
	.slider-frame {
		height: 200px;
		width: 300px; 
	}
	@keyframes slide_animation {
		0% { left: 0px; }
		10% { left: 0px; }
		15% { left: 300px; } 
		30% { left: 300px; }
		35% { left: 600px; }
		50% { left: 600px; }
		55% { left: 300px; }
		70% { left: 300px; }
		75% { left: 0px; }
		90% { left: 0px; }
		100% { left: 0px; }
	}
	.img-container {
		height: 200px;  /* Adjusted height */
		width: 300px;  
	}
	.slide-images {
		width: 900px;           /* Adjusted width for three slides */
		height: 200px;           /* Adjusted height */
		margin: 0 0 0 -600px;
	}

}


/* linked words formatting */

.link {
	color: black;
	font-size: 200%;
	text-decoration: none;
	
}

.link:hover {
	color: black;
	/*text-shadow: 0.5px 0.5px 0.5px black;*/
	text-decoration: underline;
	text-decoration-color: orange;
	/* font-weight: bold; */
}

/*bottom bar*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
	opacity: 0.95;
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.left, .center, .right {
    flex: 1;
    text-align: center;
}

.left {
    text-align: left;
	margin-left: 5rem;
}

.right {
    text-align: right;
	margin-right: 5rem;
}


/* Block styling */
.grid-big {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
}

.grid-small {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8); /*this lets you see the outline of the layout*/
	padding: 20px;
	font-size: 20px;
	text-align: left;
}	



/* Mobile scaling */

@media screen and (max-width: 900px) { /* this fucks with the columns!!!*/
	.left, .right {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	
	.grid-small {
	grid-template-columns: auto;
	padding: 5px;
	}
	
	.grid-big {
	grid-template-columns: auto;
	padding: 5px;
}
}
